<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css">
        <meta charset="utf-8" />
        <title>Number Generator using Vue.js</title>
    </head>
    <body>
        <div id="app" v-cloak>
            <div class="ui-tabs">
                <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
                <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
                <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
                <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" />

                <div class="tabs flex-tabs">
                    <label for="tab-one" id="tab-one-label" class="tab">Tab 1</label>
                    <label for="tab-two" id="tab-two-label" class="tab">Tab 2</label>
                    <label for="tab-three" id="tab-three-label" class="tab">Tab 3</label>
                    <label for="tab-four" id="tab-four-label" class="tab">Tab 4</label>

                    <div id="tab-one-panel" class="panel">
                        <table>
                            <tr>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Balls</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" value="1" v-model="L_rangeMin"/>
                                </td>
                                <td>
                                    <input type="number" value="59" v-model="L_rangeMax"/>
                                </td>
                                <td>
                                    <input type="number" value="6" v-model="L_rangeSize"/>
                                </td>
                                <td>
                                    <button v-on:click="getLNumbers">Get L Numbers!</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="tab-two-panel" class="panel">
                        two
                    </div>
                    <div id="tab-three-panel" class="panel">
                        three
                    </div>
                    <div id="tab-four-panel" class="panel">
                        four
                    </div>
                </div>

                <div id="TicketBoard"></div>
                
                
            </div>
            <input v-model="greeting" />
            <button v-on:click="toggleBox">Toggle Boom</button>

            <hr />

            <div v-if="isVisible" class="box">Boom</div>
        </div>
        <script src="vue.js"></script>
        <script>
            let app = Vue.createApp({
                data: function(){
                    return {
                        L_rangeSize:  6,
                        L_rangeMin: 1,
                        L_rangeMax: 59
                    }
                },
                methods: {
                    getLNumbers() {
                        var numbers = new Array(),
                        L_ticket = "";
                        //getRange();

                        for (i = 0; i < this.L_rangeSize; i++) {
                            do {
                                numbers[i] = this.newNumber(this.L_rangeMin, this.L_rangeMax)
                            } while (i > 0 && numbers.lastIndexOf(numbers[i], i - 1) >= 0)
                        }
                        //return
                        L_ticket = "<span>";
                        L_ticket += numbers.sort(function (a, b) { return a - b }).join("</span><span>");
                        L_ticket += "</span>";

                        //console.log(Lotto_ticket);
                        TicketBoard.innerHTML += (L_ticket + "<br />");
                        },
                    newNumber(min, max) {
                        var number = Math.floor(Math.random() * (max - min + 1)) + min;
                        return number
                    }
                }
            })
            app.mount("#app")
        </script>
    </body>
</html>